<html>
  <head>
    <title>CSV to SQL Insert Builder</title>
  </head>
  <body>
    <h1>CSV to SQL Insert Builder</h1>
    <p>This tool allows you to convert a CSV file into a SQL insert script</p>
    <form enctype="multipart/form-data" action="/" method="POST">
      <p>Please select a CSV file to upload:</p>
      <input type="file" name="file" accept=".csv" required>
      <br>
      <br>
      <p>Enter the name of the table to insert into:</p>
      <input type="text" name="dest_table" autocomplete="off" required>
      <br>
      <input type="submit" value="Generate Insert Script">
    </form>
  </body>
</html>
